# Build folder and log file
build/
build.log
1. iJust figured out what this file is for!! hurray.. one more step/ 
Now.. on with the mission. 

https://code.google.com/p/eden-utopia-2harmony/
https://code.google.com/p/earthfirst/
https://code.google.com/u/Earthshipsolutions/
https://sukshma.wordpress.com/wp-admin/
https://code.google.com/a/eclipselabs.org/p/home/admin
https://code.google.com/a/eclipselabs.org/p/gods/
https://code.google.com/a/eclipselabs.org/p/harmony-os/
https://code.google.com/p/earthos/
http://www.ustream.tv/channel/ess-twin-flame-tvcrewz
https://www.facebook.com/ShipsCanada
http://www.dailymotion.com/playlist/x2lg16_f1348586216_earthship-solutions-start-here/1#video=#video=
http://www.rationalplan.com/server-project-management-software.php
https://github.com/2215
http://earthshipsolutions.wordpress.com/
https://www.facebook.com/EarthJem?ref=tn_tnmn
http://www.blogtalkradio.com/earthshipsolutions/2013/06/09/earthship-solutions-ignition-series
https://code.google.com/apis/console/#project:22269767695
https://www.quora.com/?code=F6Tf0v4IrzBTNtLpmyAwCb3MN1MwZOIS
http://www.airlinecrew.net/vbulletin/register.php?do=activate
http://www.worldometers.info/
https://code.google.com/p/projectimmortalz/admin
http://www.stumbleupon.com/stumbler/EarthJem/comments#cid-95030673
http://www.opera.com/portal/link/
http://www.youtube.com/channel/UCWyL-V1bj65SsTIOcDM7iQQ
https://plus.google.com/u/1/112859867507866567775/about
http://www.ehow.com/users/25502400/
http://www.ehow.com/users/25510200/?id=142203804&message=TzoxMDoiUXVldWVfSXRlbSI6Mzp7czo3OiIAKgBjYWxsIjtzOjE3OiJFbWFpbF9RdWV1ZTo6c2VuZCI7czo3OiIAKgBhcmdzIjthOjE6e2k6MDtzOjk6IjExOTY4NzU5MCI7fXM6NjoiACoAZW52IjtzOjU6ImVuLXVzIjt9&target_id=25510200&event_id=148237170&token=72fccfa6f94835c1eec6dee639a5cba9f6f2abae2c3bb53bbf29709b1bd1e765&utm_source=spk_notify&utm_module=single_notification&utm_medium=notification
https://www.facebook.com/idave.earthos?hc_location=stream

